# Cargo and various other Rust tools often emit files that have LF line endings.
# Git will complain if we try to commit these on Windows due to safecrlf rules.
# We normalize these files to always be legally LF, so Git is happy and everyone is happy.
*.stderr text eol=lf
Cargo.lock text eol=lf
Cargo.toml text eol=lf

# Binary files often seen in our documentation.
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# We do not expect any of the following to be present in our repo but if someone is crazy
# enough to commit such file types, we definitely want them to be stored in LFS.
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
